.modal-dialog {
    position: absolute;
    z-index: 100;
    background-color: whitesmoke;
    outline: solid darkred;
    font-size: 20px;
    width: 200px;
    text-align: center;
    border-radius: .5rem;
    left: 300px;
    top: 100px;
}
body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto auto;
    background-color: #fff;
    color: #444;
}

#main_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#left_column {
    position: absolute;
    left: 0;
    width: 30%;
    height: 100%;
    overflow: auto;
    border-right: solid 1px #ddd;
}

#right_column {
    position: absolute;
    right: 0;
    width: 70%;
    height: 100%;
}

#text_area_toolbar {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    border-bottom: solid 1px #dddddd;
    margin-bottom: 10px;
    background: #ffffff;
}

#note_title {
    position: absolute;
    display: block;
    top: 110px;
    left: 0;
    border: none;
    padding: 20px 20px 20px 20px;
    width: 100%;
    height: 5%;
    font-size: 20px;
}

#note_title, #note_title::placeholder {
    font-size: 20px;
    font-weight: bold;
    opacity: 0.7;
    font-family: 'Poppins', sans-serif;
}

textarea {
    position: absolute;
    display: block;
    top: 170px;
    left: 0;
    border: none;
    outline: none;
    padding: 50px 10px 10px 10px;
    width: 100%;
    height: 80%;
    font-size: 15px;
    overflow: auto;
}

a.note_item {
    border-bottom: solid 1px #dddddd;
    color: #000000;
    display: block;
    padding: 10px;
}

    a.note_item:visited {
        text-decoration: none;
    }

    a.note_item:link {
        text-decoration: none;
    }

    a.note_item:hover {
        text-decoration: none;
        background: #e9c46a;
    }

    a.note_item:active {
        text-decoration: none;
        background: #e9c46a;
    }

    a.note_item:focus {
        text-decoration: none;
        background: #f4a261;
    }

.link_active {
    background: #fef6dd;
}

#txt_note, #txt_note::placeholder {
    font-size: 15px;
    color: #000000;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 38px;
    display: -webkit-box;
    white-space: normal;
    line-height: 18px;
    overflow: hidden;
    font-family: 'Poppins';
}

#btn_save, #btn_add_new, #btn_update {
    background: #0a9396;
    border-bottom: 2px solid #0a9396;
    border-right: 2px solid #0a9396;
}

#btn_delete {
    background: #ae2012;
    border-bottom: 2px solid #ae2012;
    border-right: 2px solid #ae2012;
}

.button {
    width: 100px;
    height: 50px;
    padding: 1rem;
    font-weight: 700;
    border-radius: .5rem;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition-duration: 1s;
    transition-property: border-top, border-left, border-bottom, border-right, box-shadow;
    overflow: hidden;
}

.button:hover, #home:hover {
        cursor: pointer;
}

#txt_hdn_note_id {
    visibility: hidden;
}

#home {
    width: 150px;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

#btn_bold, #btn_italic, #btn_underline {
    background: whitesmoke;
    border-bottom: 2px solid #0a9396;
    border-right: 2px solid #0a9396;
    width: 50px;
    height: 30px;
    padding: 5px;
}

#btn_bold{
    font-weight: 900;
}

#btn_italic{
    font-style: italic;
}

#btn_underline{
    text-decoration: underline;
}

#btn_bold:hover, #btn_italic:hover, #btn_underline:hover {
    background-color: azure;
}

a{
    text-decoration: none;
    color: black;
}

.card {
    width: 70%;
    background-color: darkorange;
    height: 200px;
    margin: 20px;
    padding: 20px;
    
}

.card_title{
    border-bottom: solid grey; 
}

.clicked {
    background-color: darkslategrey;
}