@model IEnumerable<NotesApp.Models.Note>
<table style="width: 100%;">
    <tr>
        <td style="padding: 20px; text-align: center; width: 400px;">
            <h1 width: 300px;>All Notes</h1>
        </td>
        <td style="padding: 20px; text-align: right;">
            <a href="~/Home/Index" id="btn_add_new" class="button">Add New</a>
        </td>
    </tr>
</table>
<div class="wrapper">
    @foreach (var item in Model)
    {
        <a class="note_item card col-sm-5"  href="~/Home/Index" class="" data-note-id="@item.NoteId">
            <h3 class="card_title" style="text-align:center; font-weight: bold">
                @Html.DisplayFor(modelItem => item.NoteTitle)
            </h3>
            <div class="card_details">
                @Html.DisplayFor(modelItem => item.NoteDetail)
            </div>
            <div class="card_date">
                @item.Date.ToString("dd MMM, yyyy")
            </div>
        </a>
    }
</div>